html {
  background-color: #c8e5e7;
  overflow-y: hidden;
  overflow-x: hidden;
}

.logo_div {
  width: 80px;
  margin: auto;
  margin-top: 15vh;
}
.logo {
  width: 60px;
  margin-left: 10px;
}

.main_cont {
  height: 46vh;
  width: 60vw;
  background-color: white;
  margin: auto;
  margin-top: 8vh;
  border-radius: 15px;
  box-shadow: 0px 25px 15px #b6d8dbec;
}

.left_cont {
  display: flex;
  flex-direction: row;
  width: 30vw;
  height: 46vh;
  background-color: white;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  overflow: hidden;
}

.bill_div {
  display: block;
  width: 25vw;
  height: 150px;
  margin-left: 3vw;
  margin-top: 10px;
}
.bill {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 11px;
  padding-top: 10px;
  color: #6f8a85;
  margin-bottom: auto;
  line-height: 25px;
}

.dollar_symbol {
  width: 8px;
  padding-left: 13px;
  margin-top: 10px;
}
.cost_input {
  border: none;
  display: grid;
  margin-left: 0vw;
  margin-top: -3.6vh;
  height: 4vh;
  width: 24.5vw;
  background-color: #c8e5e750;
  border-radius: 5px;
  text-align: right;
  font-family: "Space Mono", monospace;;
}
.cost_input::placeholder {
    text-align: end;
    font-family: "Space Mono", monospace;
}

.tip_div {
  display: block;
  width: 25vw;
  height: 150px;
  margin-top: 200px;
  margin-left: -25vw;
  color: #6f8a85;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 11px;
  margin-top: 14vh;
}
.tip_percentage {
    margin-bottom: auto;
    line-height: 23px;
}
.grid_cont {
    width: inherit;
    height: 45px;
    background-color: white;
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
}

.tip_choice {
    display: grid;
    height: 33px;
    width: 78px;
    background-color: #0b3336ee;
    grid-row-start: 1;
    border-radius: 5px;
    text-align: center;
    line-height: 33px;
    font-size: 15px;
    color: rgba(245, 245, 245, 0.904);

}
#choice6 {
    color: #5a7973;
    background-color: #c8e5e750;
}

.people_num_div {
    margin-top: 30vh;
    margin-left: -25vw;
}

.right_cont {
  width: 27vw;
  height: 40vh;
  background-color: black;
  margin-top: -43vh;
  margin-left: 31vw;
  border-radius: 15px;
}
